.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

html {
  font-family: 'Century Gothic' !important;
}

body {
  margin: 0%;
  padding: 0%;
  background-color: #1f1f1f;
}

.header {
  flex: 30%;
  background-color: #0F0F0F;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header .inputContainer {
  display: flex;
  flex-direction: column;
}

.header input {
  width: 200px;
  height: 40px;
  border: none;
  padding-left: 10px;
  font-size: 17px;
  border: 1px solid #2c2e30;
}

.App input[type="number"] {
  border-bottom-left-radius: 8px;
}

.App input[type="text"] {
  border-top-left-radius: 8px;
}

.header button {
  width: 70px;
  height: 87px;
  border: none;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  background-color: #353535;
  color: white;
  padding-left: 10px;
  cursor: pointer;
}

.todoList {
  flex: 70%;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 50px;
  flex-direction: column;
}

.task {
  width: 500px;
  height: 50px;
  display: flex;
  color: white;
  margin: 15px;
}

.task .content {
  flex: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.task .content span {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  font-size: 18px;
  border-right: none;
  background-color: #00999b;
}

.content > span:first-child {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.task button {
  flex: 20%;
  height: 100%;
  border: none;
  background-color: #353535;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  color: white;
  cursor: pointer;
}

.error-red {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 8px 15px;
  border-radius: 0.25rem;
  background-color: rgb(255, 50, 50);
  color: white;
}

.error-yellow {
  position: fixed;
  bottom: 40px;
  left: 50%;
  transform: translate(-50%, 50%);
  padding: 8px 15px;
  border-radius: 0.25rem;
  background-color: rgb(224, 255, 50);
  color: rgb(0, 0, 0);
}

.error-yellow > .close {
  background-color: white !important;
  color: black;
  border-radius: 3px;
  display: inline-flex;
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  cursor: pointer;
}
.error-red > .close {
  background-color: white !important;
  color: black;
  border-radius: 3px;
  display: inline-flex;
  padding: 2px 6px;
  align-items: center;
  justify-content: center;
  margin-left: 1.5rem;
  cursor: pointer;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: auto;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 10;
  overflow-y: scroll;
}

.modal-dialog {
  position: relative;
  width: auto;
  margin: 0.5rem;
  pointer-events: none;
  margin: auto !important;
  margin-top: 3rem !important;
}
.modal.fade .modal-dialog {
  transition: transform 0.3s ease-out;
  transform: translate(0, -50px);
}
@media screen and (prefers-reduced-motion: reduce) {
  .modal.fade .modal-dialog {
    transition: none;
  }
}
.modal.show .modal-dialog {
  transform: none;
}
.modal-dialog-centered {
  display: flex;
  align-items: center;
  min-height: calc(100% - (0.5rem * 2));
}
.modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (0.5rem * 2));
  content: "";
}
.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.25rem;
  outline: 0;
}
.modal-backdrop,
.blockOverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.modal-backdrop.fade,
.fade.blockOverlay {
  opacity: 0;
}
.modal-backdrop.show,
.show.blockOverlay {
  opacity: 0.5;
}
.modal-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1rem 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;.clode
  border-top-right-radius: 0.3rem;
}
.modal-header .close {
  padding: 1rem 1rem;
}
.modal-title {
  font-size: 1.2rem;
}
.modal-body {
  position: relative;
  flex: 1 1 auto;
  padding: 1rem;
}
.modal-footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  border-top: 1px solid #e9ecef;
  border-bottom-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}
.modal-footer > :not(:first-child) {
  margin-left: 0.25rem;
}
.modal-footer > :not(:last-child) {
  margin-right: 0.25rem;
}
.modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 600px;
    margin: 1.75rem 10px;
  }
  .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .modal-sm {
    max-width: 300px;
  }
}

.btn {
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
  cursor: pointer;
  line-height: 1.6rem;
  margin-top: 0.8rem !important;
  width: 5rem;
  font-weight: 500;
}
.btn-primary {
  background-color: #00999b;
  color: white;
  
}
.btn-secondary {
  background-color: #353535;
  color: white;
}
.loadingPage {
  height: 100%;
  width: 100%;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loginPage {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.loginForm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding: 3rem;
  border: 2px solid #0F0F0F;
  border-radius: 0.4rem;
  margin-top: 2rem;
  background-color: #0F0F0F;
}
.loginForm > * {
  margin-top: 0.5rem;
}

.loginForm div {
  margin-right: 2rem !important;
}

.passwordInput{
  position: relative;
}

.passwordInput .toggle-password-icon {
  position: absolute;
  z-index: 10; 
  right: -70px;
  top: 14px;
  cursor: pointer;
}
.form-control {
  display: block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.shadow {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.btn-focus {
  background-color: #1f1f1f !important;
}
.text-white {
  color: white;
}
.btn-sm {
  background-color: #353535;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 0.25rem;
  cursor: pointer;
}

.btn-hover-shine {
  position: relative;
}
.btn-hover-shine:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}
.btn-hover-shine:hover:after {
  width: 120%;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.4s ease-in-out;
}